
/Author/debug/main.o
/Author/debug/mainwindow.o
/Author/debug/moc_mainwindow.cpp
/Author/debug/moc_mainwindow.o
/Author/debug/protect.o
/Author/debug/rsc_res.o
/Author/Author.pro.user
/Author/Makefile
/Author/Makefile.Debug
/Author/Makefile.Release
/Author/debug/Author.exe